<h1><%= @cocktail.name %></h1>

<% if @cocktail.doses.empty? %>
  <p>This cocktail doesn't have any ingredients</p>
<% else %>
  <h2>Ingredients</h2>
<% end %>

<% @cocktail.doses.each do |d| %>
  <li>
    <%= d.ingredient.name %>
    <%= link_to "Delete", delete_dose_path(d), method: :delete %>
  </li>
    <%= d.description %>
  <% end %>



<%= link_to "Add Ingredients", new_cocktail_dose_path(@cocktail) %>
<%= link_to "Home", cocktails_path %>
